# Power BI temporary and backup files
*.pbit
~$*

# Power BI local cache
.cache/

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Operating system files
.DS_Store
Thumbs.db

# VS Code
.vscode/
